## Deliverable 2. Create a Customer Travel Destinations Map.

In [30]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps
#Import The Google API key.
from config import weather_api_key1, g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tuktoyaktuk,CA,69.4541,-133.0374,-4.00,77,90,11.50,light snow
1,1,Hilo,US,19.7297,-155.0900,68.00,73,90,6.91,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,77.63,71,31,3.49,light rain
3,3,Vaini,TO,-21.2000,-175.2000,77.00,94,75,4.61,broken clouds
4,4,Hobart,AU,-42.8794,147.3294,50.00,53,39,14.97,scattered clouds

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,77.63,71,31,3.49,light rain
3,3,Vaini,TO,-21.2000,-175.2000,77.00,94,75,4.61,broken clouds
10,10,Butaritari,KI,3.0707,172.7902,80.65,79,52,20.92,broken clouds
11,11,Sarangani,PH,5.4033,125.4636,78.93,89,100,10.56,overcast clouds
12,12,Presidente Dutra,BR,-5.2900,-44.4900,85.46,73,69,3.18,moderate rain
15,15,Aitape,PG,-3.1374,142.3475,79.18,84,93,4.70,light rain
17,17,Saint-Pierre,RE,-21.3393,55.4781,82.40,83,0,8.05,clear sky
23,23,Erechim,BR,-27.6342,-52.2739,82.90,61,66,10.67,broken clouds
25,25,Cape Town,ZA,-33.9258,18.4232,75.99,50,40,13.80,scattered clouds
28,28,Carnarvon,AU,-24.8667,113.6333,77.00,100,13,5.75,few clouds

In [14]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().any()

City_ID                False
City                   False
Country                 True
Lat                    False
Lng                    False
Max Temp               False
Humidity               False
Cloudiness             False
Wind Speed             False
Current Description    False
dtype: bool

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,77.63,71,31,3.49,light rain
3,3,Vaini,TO,-21.2000,-175.2000,77.00,94,75,4.61,broken clouds
10,10,Butaritari,KI,3.0707,172.7902,80.65,79,52,20.92,broken clouds
11,11,Sarangani,PH,5.4033,125.4636,78.93,89,100,10.56,overcast clouds
12,12,Presidente Dutra,BR,-5.2900,-44.4900,85.46,73,69,3.18,moderate rain
...,...,...,...,...,...,...,...,...,...,...
648,648,Joanopolis,BR,-22.9303,-46.2756,84.20,51,75,6.91,broken clouds
654,654,Ende,ID,-8.8432,121.6623,78.94,83,100,5.53,moderate rain
656,656,Vangaindrano,MG,-23.3500,47.6000,81.14,85,76,10.29,broken clouds
660,660,Si Racha,TH,13.1737,100.9311,82.00,72,0,8.28,clear sky
661,661,Sinnamary,GF,5.3833,-52.9500,81.36,73,97,13.22,overcast clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df.copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
2,2,Rikitea,PF,-23.1203,-134.9692,77.63,71,31,3.49,light rain,
3,3,Vaini,TO,-21.2000,-175.2000,77.00,94,75,4.61,broken clouds,
10,10,Butaritari,KI,3.0707,172.7902,80.65,79,52,20.92,broken clouds,
11,11,Sarangani,PH,5.4033,125.4636,78.93,89,100,10.56,overcast clouds,
12,12,Presidente Dutra,BR,-5.2900,-44.4900,85.46,73,69,3.18,moderate rain,
15,15,Aitape,PG,-3.1374,142.3475,79.18,84,93,4.70,light rain,
17,17,Saint-Pierre,RE,-21.3393,55.4781,82.40,83,0,8.05,clear sky,
23,23,Erechim,BR,-27.6342,-52.2739,82.90,61,66,10.67,broken clouds,
25,25,Cape Town,ZA,-33.9258,18.4232,75.99,50,40,13.80,scattered clouds,
28,28,Carnarvon,AU,-24.8667,113.6333,77.00,100,13,5.75,few clouds,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"] 
    except:
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))