## Deliverable 3. Create a Travel Itinerary Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import weather_api_key1, g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

In [25]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
#vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
#vacation_df.head()
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

,City_ID,City_ID.1,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,2,2,Rikitea,PF,-23.1203,-134.9692,77.63,71,31,3.49,light rain,Pension Maro'i
1,3,3,Vaini,TO,-21.2000,-175.2000,77.00,94,75,4.61,broken clouds,Keleti Beach Resort
2,10,10,Butaritari,KI,3.0707,172.7902,80.65,79,52,20.92,broken clouds,Isles Sunset Lodge
3,11,11,Sarangani,PH,5.4033,125.4636,78.93,89,100,10.56,overcast clouds,Ballistic Islet
4,12,12,Presidente Dutra,BR,-5.2900,-44.4900,85.46,73,69,3.18,moderate rain,Pousada Planalto

In [32]:
vacation_df.drop('City_ID.1', axis=1, inplace=True)
vacation_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,2,Rikitea,PF,-23.1203,-134.9692,77.63,71,31,3.49,light rain,Pension Maro'i
1,3,Vaini,TO,-21.2000,-175.2000,77.00,94,75,4.61,broken clouds,Keleti Beach Resort
2,10,Butaritari,KI,3.0707,172.7902,80.65,79,52,20.92,broken clouds,Isles Sunset Lodge
3,11,Sarangani,PH,5.4033,125.4636,78.93,89,100,10.56,overcast clouds,Ballistic Islet
4,12,Presidente Dutra,BR,-5.2900,-44.4900,85.46,73,69,3.18,moderate rain,Pousada Planalto

In [33]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [34]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]==("Saldanha")]
vacation_end = vacation_df.loc[vacation_df["City"]==("Saldanha")]
vacation_stop1 = vacation_df.loc[vacation_df["City"]==("Cape Town")]
vacation_stop2 = vacation_df.loc[vacation_df["City"]==("Bredasdorp")] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]==("Kruisfontein")]

In [48]:
vacation_start

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
62,224,Saldanha,ZA,-33.0117,17.9442,75.2,57,3,9.22,clear sky,Blue Bay Lodge

In [49]:
vacation_end

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
62,224,Saldanha,ZA,-33.0117,17.9442,75.2,57,3,9.22,clear sky,Blue Bay Lodge

In [50]:
vacation_stop1

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
8,25,Cape Town,ZA,-33.9258,18.4232,75.99,50,40,13.8,scattered clouds,"Radisson Blu Hotel Waterfront, Cape Town"

In [51]:
vacation_stop2

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
46,172,Bredasdorp,ZA,-34.5322,20.0403,78.8,41,0,20.71,clear sky,Bredasdorp Country Manor

In [52]:
vacation_stop3

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
75,271,Kruisfontein,ZA,-34.0033,24.7314,77.0,54,0,8.99,clear sky,Oyster Bay House Rental

In [126]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-33.0117, 17.9442)
(-33.0117, 17.9442)
(-33.9258, 18.4232)
(-34.5322, 20.0403)
(-34.0033, 24.7314)

In [143]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
Saldanha = (-33.0117, 17.9442)
Saldanha = (-33.0117, 17.9442)
Cape_Town = (-33.9258, 18.4232)
Bredasdorp = (-34.5322, 20.0403)
Kruisfontein = (-34.0033, 24.7314)

In [142]:
# Create a direction layer map using the start and end latitude-longitude pairs,.The travel_mode should be "DRIVING"
fig = gmaps.figure()
Saldanha2Kruisfontein_via_cape_Town_Bredasdorp = gmaps.directions_layer(Saldanha, Saldanha , waypoints = [Cape_Town, Bredasdorp, Kruisfontein ], travel_mode='DRIVING')
fig.add_layer(Saldanha2Kruisfontein_via_cape_Town_Bredasdorp)
fig

Figure(layout=FigureLayout(height='420px'))

In [146]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,224,Saldanha,ZA,-33.0117,17.9442,75.20,57,3,9.22,clear sky,Blue Bay Lodge
1,25,Cape Town,ZA,-33.9258,18.4232,75.99,50,40,13.80,scattered clouds,"Radisson Blu Hotel Waterfront, Cape Town"
2,172,Bredasdorp,ZA,-34.5322,20.0403,78.80,41,0,20.71,clear sky,Bredasdorp Country Manor
3,271,Kruisfontein,ZA,-34.0033,24.7314,77.00,54,0,8.99,clear sky,Oyster Bay House Rental

In [147]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [152]:
# 11a. Add a marker layer for Saldanha to the map.
marker_locations = [
    (-33.0117, 17.9442),
    (-33.9258, 18.4232),
    (-34.5322, 20.0403),
    (-34.0033, 24.7314)
]

fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))